<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="personCtrl">

    First Name: <input type="text" data-ng-model="firstName"><br>
    Last Name: <input type="text" data-ng-model="lastName"><br>
    <br>
    Full Name: {{fullName()}}
    <h1>Calculator</h1>
    Num 1: <input type="number" data-ng-model="num1"><br>
    Num 2: <input type="number" data-ng-model="num2"><br>
    <br>
    Total: {{sum()}}

    </div>

    <script src="controler1.js"></script>

</body>
</html>